*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
 width: 100%;
}

.left{
    width: 240px;
    height: 100%;
    background-color: #333333;
}

.right{
    width: 83%;
    height: 100%;
    position: absolute;
    top: 0;
   left: 240px;
}

img{
    margin-top: 20px;
    height: 50px;
}

#guide{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    background-color: #999999;
    color: white;
}

.guide{
    height: 40px;
    width: 200px;
    text-align: center;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 16px;
    background-color:#424242;
    margin-bottom: 1px;
}
.guide:hover{
    background-color: #666666;
    color: black;
}